body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 165, 70);
}

h2 {
  text-decoration: underline;
}

li {
  width: 50%;
  margin: 5px;
  float: left;
  box-sizing: border-box;
  border: 20px solid gray;
  background-color: white;
  padding: 10px;
  color: rgb(70, 165, 255);
}

a {
  background-color: white;
  padding: 2px;
}
